<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Latoya Rhoden</h1>
        <p>I am a second year student in the Faculty of Science and Technology 
            with a Biotechnology major and an Information Technology minor. 
            I want to pursue my master in Bioinformatics and be a Web Designer as well.
            I love animals, but don't want a pet because they are stressful and I love food.
        </p>
    </body>
</html>